.aboutPicture{
  width:250px;
  padding:40px 0;
  @media all and(min-width:1200px) {
    width:150px;
  }
}
.mainAbout{
  padding: 40px;
  background-color:white;
  @media all and(min-width:1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px; 
    margin-top:50px;
    margin-left: 232px;  }

}
p,h3{
  padding:10px;
}
h2{
  padding-top: 20px;
  color:rgb(16, 134, 134);
}
.link, .linkAdalab{
text-decoration: none;
font-weight: bold;
color:rgb(16, 134, 134);
font-size: 18px;
margin:10px;
display: flex;
align-content: space-between;
width: 200px;
}
.iconLink{
  font-size: 22px;
  margin-right: 10px;
}
.linkAdalab{
  display: inline;
  font-size:16px;
  margin:0px;
}
.socialMedia_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}