* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.medication_dose--container{
  width:140px;
  display: flex;
  justify-content: space-between;
}
.medication_dose--day{
  padding:10px;
}
body{
  background-color:darkblue;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
.main{
  margin-top: 20px;
  padding:15px;
  height: 100%;
  width: 320px;
  background-color:white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_title{
    text-align:center;
    padding:10px;
  }
}
.pill_image{
  width:120px;
  padding:30px 0;
}
footer {
  padding: 30px;
  text-align: center;
  position: absolute;;
  bottom: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}
