footer {
  text-align: center;
  background-color:white;
  padding-top:10px;
  width: 100%;
  color:lightgray;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}
.footer_link{
  text-decoration: none;
  font-weight: lighter;
  color:darkgrey;
}