.homepage_img{
  border-radius: 10px;
  width:100%;
  height:600px;
  margin-bottom: 50px;
  @media all and(min-width:1200px) {
      margin-bottom: 0px;
      height:470px;
      width: 380px;
  }
}

.homeMain{
  @media all and(min-width:1200px) {
    background-color:white;
    width: 80%;
    padding-bottom: 40px;
    margin-top:50px;
    padding-left:250px;
    display:flex;
    align-items: center;
    justify-content: center;
}
}