.page_image{
  width:250px;
  padding:40px 0;
  @media all and(min-width:1200px) {
    padding:40px 0;
    width:150px;
  }
}

.treatmentPageListImp{
  width: 150px;
  padding:20px 0;
}
.treatmentPage_button--container{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:30px;
}
.pillContainer{
  display: flex;
  align-items: center;
}
.medication_dose--container{
  width:180px;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
 
  .mainBody{
    width:100vw;
    
    // height:100%;
    margin-bottom: 20px;
  }
.buttonAppointment{
  position: relative;;
  top: 50px;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    @media all and(min-width:1200px) {
      background-color:white;
      width: 80%;
      height: 100%;
      padding-bottom: 40px;
      margin-top:50px;
      padding-left:250px;
    }

  
    &_title{
      text-align:center;
      padding:5px;
      color:rgb(40, 128, 123);
      font-size: 25px;
      width:100%;
    }
    &_subtitle{
      font-size: 20px;
      font-weight: lighter;
      width:60%;
      text-align: center;
    }
  }
  .dateListItem{
    font-size: 18px;
    padding-bottom: 7px;
    font-weight: bold;
    color:rgb(78, 146, 146);
    text-align: center;
  }
  .doseTime{
    margin-right: 10px;
    color:rgb(64, 98, 98);
  }
  .pill{
    margin-right:10px;
    height: 16px;
    width:7px;
  }
  .pillName{
    text-transform: capitalize;

  }
  .pillName{
    text-transform: capitalize;
  }
  .paracetamol{
    background-color: rgb(43, 160, 160);
    border: solid 1px rgb(43, 160, 160);
  }
  .ibuprofeno{
    background-color: rgb(255, 217, 0);
    border: solid 1px rgb(255, 217, 0);
  }

  .button{
      background-color: rgb(255, 145, 0);
      border: solid 1px rgb(255, 145, 0);
  }

  